@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}

.nav__logo img {
  height: 42px;
  margin: auto;
}

.nav__title {
  font-weight: 500;
  font-size: 25px;
  margin: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-size: 14px;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 20em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

.carrito {
  height: 27px;
  margin: 0 16px 5px 26px;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  /* z-index: 1; */
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  /* z-index: 1; */
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
  cursor: pointer;
}

.button:hover:before {
  top: -35%;
  background-color: #8839bd;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #c850c0;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

header {
  background: url(../recursos/music\ pattern.jpg) center/cover;
  height: 70vh;
}

.header__principal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 415px;
}

header h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: whitesmoke;
  filter: drop-shadow(3px 4px 6px rgb(73, 73, 73));
  font-size: 30px;
}

.bold-text {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card {
  display: flex;
  background-color: #ffcc70;
  width: 271px;
  /* height: 502px; */
  padding: 15px;
  margin: 15px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card__img {
  height: 200px;
  background: url(../recursos/piano.jpg) center/cover;
  width: 100%;
}

.card__title {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2px;
}

.card__description p {
  width: 100%;
  font-size: 12px;
}

.card__price {
  font-size: 20px;
  padding: 4px;
}

.input {
  height: 57px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 23px;
}

.input__minus,
.input__plus {
  width: 25px;
  height: 100%;
}

.input__minus:hover,
.input__plus:hover {
  cursor: pointer;
  opacity: 0.5;
}

.input__minus {
  padding: 26px 5px;
}

.input__plus {
  padding: 21px 5px;
}

.input__number {
  width: 100%;
  border: none;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  outline: none;
}

.input__number input {
  outline: none;
}

.cart__button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.cart__button img {
  height: 20px;
  margin: auto;
}

.cart__button button {
  border-radius: 10px;
  padding: 5px;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 500;
  border: none;
}

.cart__button button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.header__cart {
  position: relative;
  display: flex;
}

.header__cart:hover {
  cursor: pointer;
}

.header__cart--notification {
  display: none;
  background-color: #c850c0;
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -2px;
  right: 0;
  font-size: 0.6em;
  text-align: center;
  color: #f4f2f2;
}

.cart-modal {
  display: none;
  width: 360px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px;
  position: absolute;
  top: 75px;
  right: 6px;
  background-color: white;
}

.cart-modal img {
  width: 67px;
}

.cart-modal__title {
  font-weight: 700;
  padding: 16px;
  border-bottom: 1px solid gray;
}

.cart-modal__details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #646464;
}

.cart-modal__delete-img img {
  width: 20px;
  height: 22px;
  margin-right: 5px;
}

.cart-modal__checkout-container {
  padding: 24px;
}

.cart-modal__price span {
  color: black;
  font-weight: 700;
}

.cart-modal__delete,
.cart-modal__checkout {
  cursor: pointer;
}

.cart-modal__checkout {
  border-radius: 10px;
  padding: 5px;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 500;
  border: none;
}

.show {
  display: block;
}

.cart-empty {
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}
